body {
	padding: 0;
	margin: 0;
	background-color: #003777;
	font-family: 'Montserrat', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.scroll-top {
	position: fixed;
	bottom: 3%;
	right: 3%;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.scroll-top:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
